div.hidden {
    display: none;
}
div.card-body {
    padding-bottom: 0;
}
span.file-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#table-files, #table-datasets td {
    word-break: break-word
}